.hpb-box {
  width: 60%;
}

.hpb-box h1 {
  margin: 0;
}

.hpb-box p {
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

.hpb-box button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 25px;
  background-color: rgb(93, 72, 225);
  color: white;
  letter-spacing: 0.5px;
  box-shadow: 0 10px 5px rgba(92, 72, 225, 0.2);
}

@media screen and (min-width: 781px) {
  .hpb-box p {
    font-size: 18px;
  }
}
